.clas_pagosname_ {
  background-color: rgb(72, 190, 58);
  padding: 5px 20px;
  color: #fff;
  display: inline-block;
  border-radius: 50px;
  font-size: 12px;
}
.sinpagos_ {
  border-left: 3px solid green;
  padding: 10px 20px;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.formulario_admin_ {
  background-color: #fff;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  border-radius: 7px;
  border-top: rgb(145, 145, 145);
  margin: auto;
  margin-top: 50px;
}
.formulario_admin_ input {
  width: 100%;
  padding: 8px 12px;
  font-size: 15px;
}
  .formulario_admin_  input[type=submit] {
    background-color:  rgb(36, 139, 53);
    color: #fff;
    border: 0px;
    cursor: pointer;
    padding: 12px 20px;
  }
  .formulario_admin_  input[type=submit]:hover {
    background-color: #333;
  }

  @media screen and (max-width: 700px) {
    .formulario_admin_ input {
      max-width: 80%;
    }
  }
